<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="department">
            <h2><span>Department</span> {{ department.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Department Name</span></dt>
                <dd>
                    <span>{{ department.departmentName }}</span>
                </dd>
                <dt><span>Street Address</span></dt>
                <dd>
                    <span>{{ department.streetAddress }}</span>
                </dd>
                <dt><span>Postal Code</span></dt>
                <dd>
                    <span>{{ department.postalCode }}</span>
                </dd>
                <dt><span>City</span></dt>
                <dd>
                    <span>{{ department.city }}</span>
                </dd>
                <dt><span>State Province</span></dt>
                <dd>
                    <span>{{ department.stateProvince }}</span>
                </dd>
                <dt><span>Company</span></dt>
                <dd>
                    <div *ngIf="department.companyId">
                        <a [routerLink]="['/company', department.companyId, 'view']">{{ department.companyId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Назад</span>
            </button>

            <button type="button"
                    [routerLink]="['/department', department.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
