<div>
    <div class="row justify-content-center">
        <div class="col-md-8" *ngIf="account$ | async as account">
            <h2>Пароль <strong>{{ account.login }}</strong></h2>

            <div class="alert alert-success" *ngIf="success">
                <strong>Пароль изменен!</strong>
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <strong>Ошибка!</strong> Пароль не может быть изменен.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                Пароли не совпадают!
            </div>

            <form name="form" role="form" (ngSubmit)="changePassword()" [formGroup]="passwordForm">
                <div class="form-group">
                    <label class="form-control-label" for="currentPassword">Текущий пароль</label>
                    <input type="password" class="form-control" id="currentPassword" name="currentPassword"
                           placeholder="Текущий пароль"
                           formControlName="currentPassword">

                    <div *ngIf="passwordForm.get('currentPassword')!.invalid && (passwordForm.get('currentPassword')!.dirty || passwordForm.get('currentPassword')!.touched)" >
                        <small class="form-text text-danger"
                               *ngIf="passwordForm.get('currentPassword')?.errors?.required">
                            Требуется Ваш пароль.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="newPassword">Новвый пароль</label>
                    <input type="password" class="form-control" id="newPassword" name="newPassword"
                           placeholder="Новвый пароль"
                           formControlName="newPassword">

                    <div *ngIf="passwordForm.get('newPassword')!.invalid && (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="passwordForm.get('newPassword')?.errors?.required">
                            Новвый пароль требуется.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="passwordForm.get('newPassword')?.errors?.minlength">
                            Новвый пароль должен быть длиною минимум в 4 символа.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="passwordForm.get('newPassword')?.errors?.maxlength">
                            Новвый пароль должен быть длиною максимум в 50 символов.
                        </small>
                    </div>

                    <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"></jhi-password-strength-bar>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">Подтверждение пароля</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                           placeholder="Подтверждение пароля"
                           formControlName="confirmPassword">

                    <div *ngIf="passwordForm.get('confirmPassword')!.invalid && (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="passwordForm.get('confirmPassword')?.errors?.required">
                            Подтверждение пароля обязательно.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength">
                            Подтверждение пароля должно быть длиною минимум в 4 символа.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength">
                            Подтверждение пароля должно быть длиною максимум в 50 символов.
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary">Зберегти</button>
            </form>
        </div>
    </div>
</div>
